# Rename this file to 'party.env'
# This file will contain secrets (do not save to git.)
# Way to generate Random 64 Bit string. 
# ruby -e "require 'securerandom'; puts SecureRandom.hex(64)" 
# Source This file.

export PARTY_SENDGRID_API_KEY='' # Get this key from send Grid
PARTY_SENDGRID_EMAIL='' # TO EMAIL Address from Sendgrid
export PARTY_HMAC_URl_KEY='' # Generate via a securerandom
export PARTY_SESSION_KEY=''  # Generate via securerandom
