<main class="container">

  <div class="row mb-3">
    <div class="col-sm-12">
      <h3 class="text-center">Theme: <%=@theme.name%></h3>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-12">
      <p class="text-center"><strong>Note: </strong>Making a theme inactive will not remove it from exiting parties</p>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-12">
      <form action="/admin/theme/<%=@theme.id%>/name" method = 'post' class="was-validated">
        <fieldset class="border p-4">
          <legend class="w-auto">Modify Name:</legend>
          <div class="mb-3">
            <input type="hidden" name="_method" value="patch">
            <label for="new_name">New Name:</label>
            <input class="form-control" type="text" id="new_name" name="new_name" title="Enter Theme name here" required>
          </div>
          <input type="submit" value="Submit">
          <input type="reset" value="Clear">
        </fieldset>
      </form>
    </div>
  </div>

  <div class="row mb-3">
    <div class="col-sm-12">
      <form action="/admin/theme/<%=@theme.id%>/active" method = 'post' class="was-validated">
        <fieldset class="border p-4">
          <legend class="w-auto">Modify Active:</legend>
          <input type="hidden" name="_method" value="patch">
          <p>Currently set to '<%= @theme.active ? "Active" : "Inactive" %>'</p>
          <p>Select Below to change:</p>
          <div class="custom-control custom-radio mb-1">
            <input class="custom-control-input" type="radio" id="active_yes" name="active" value="yes" required>
            <label class="custom-control-label"for="active_yes">Active</label><br>
          </div>
          <div class="custom-control custom-radio mb-3">
            <input type="radio" class="custom-control-input" id="active_no" name="active" value="no" required>
            <label class="custom-control-label" for="active_no">Inactive</label>
          </div>
          <input type="submit" value="Submit">
          <input type="reset" value="Clear">
        </fieldset>
      </form>
    </div>
  </div>

  <div class='row mb-3'>
    <div class="col-sm-12"><a href="/admin/theme">Return to Themes list</a></div>
  </div>
</main>
