header {
    text-align:center;
}

nav {
    background: black;
    color: lightcoral;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-right: 2%;
    margin-left: 2%;
    height: 100%;
    min-width: 15%;
    text-align: center;
}

.dropdown:hover {
    background-color: lightgray;
    border-style: inset;
  }

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
padding: 12px 16px;
z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

footer {
    margin-top: 2%;
}

.flash-WARN {
    border-radius: 3em;
    background: yellow;
    padding: 2%;
    text-align:center;
}
.flash-ERROR {
    border-radius: 3em;
    background: red;
    padding: 2%;
    text-align:center;
}

.flash-SUCCESS {
    border-radius: 3em;
    background: green;
    padding: 2%;
    text-align:center;
}
