<h2>Login into Party Planner</h2>

<p>Passwordless Login allows you to login via an emailed link.</p>
<p> For security: you must use the email link in the same browser as one used to create the link</p>

<form action="/user/login/passwordless" method="POST">
  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email" required><br>
  <input type="submit" value="Submit">
</form> 
 <a href="/user/login">Return to password based login</a> 
