<h2>Reset Your Password</h2>

<p>Enter your accounts email address and we will send you a password reset link.</p>

<form action="/user/forgot_password" method="POST">
  <label for="email">Email:</label><br>
  <input type="email" id="email" name="email" required><br>
  <input type="submit" value="Send password reset email">
</form> 
<br>
 <a href="/pre_user/login">Return to Login.</a>
