<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Project Planning, inc</title>
  <meta name="description" content="Flatiron Sinatra Project">
  <meta name="author" content="Anthony Tilelli">
</head>

<body>
  <h1>Please click below to Login to party Planner (Link expires in 8 minutes).</h1><br>
  <a href="<%= @auth_link %>"> Log In </a>
  <p>You’re receiving this email because you or someone asked a for passwordless login.</p>
  <p>This is an automated email.</p>
</body>
</html>
