<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Project Planning, inc</title>
  <meta name="description" content="Flatiron Sinatra Project">
  <meta name="author" content="Anthony Tilelli">
</head>

<body>
  <h1>Please click below to start using party Planner (Link expires in 2 hours).</h1><br>
  <a href="<%= @verify_link %>"> Verify your accout! </a>
  <p>You’re receiving this email because you or someone signed up for Party Planner.</p>
  <p>This is an automated email.</p>
</body>
</html>
