<main>
  <h2>Venue Admin Page</h2>

  <a href='/admin/venue/new'> Create New Venue </a>

  <h3>Theme List Page</h3>
  <table>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Modify/Delete</th>
    </tr>
    <% Venue.all.each do |venue| %>
      <tr>
        <td><%=venue.name%></td>
        <td><%=venue.active ? 'Active' : 'Inactive'%></td>
        <td><a href="/admin/theme/<%=venue.id%>"> Edit </a></td>
      </tr>
    <% end %>
  </table>
</main>
