<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Party Planning, inc [GO BACK]</title>
    <meta name="author" content="Anthony Tilelli">
    <meta name="description" content="Send user back">
    <meta name="keywords" content="flatIron, party planner, party,  demo, sintra">
  </head>
  <body onload="myFunction()"> 
    <script>
        function goBack() {
        window.history.back();
        }
    </script>
  </body>
</html>
